@model BitSolutions.Models.RRHHEmployee.DB_RRHH_Employee

@section Styles {
    @Styles.Render("~/Content/LoginCss")
}




<div class="login">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login__form" }))
    {
        @Html.AntiForgeryToken()

        <div class="login__logo"></div>

        if (ViewBag.endSession == true)
        {
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><i class="alert-ico fa fa-fw fa-exclamation"></i><strong>Warning </strong> The expired session please log in again
            </div>
            <br />
        }

        <div class="form-group">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Login", autocomplete = "off" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group login__action">
            <div class="login__submit">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    }

</div>

@*@Html.Partial("~/Views/Themes/Theme.cshtml");*@

@section Scripts {
    @Scripts.Render("~/bundles/LoginJs.js")
    @Scripts.Render("~/bundles/jqueryval.js")
}
