@{
    ViewBag.Title = "";
}

@model BitSolutions.Models.Ticket

@Styles.Render("~/Content/FileInputCss")


<div class="panel-body">
    <div class="container-fluid half-padding">
        <div id="buttons"></div><table id="example" class="table datatable display table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha de creación</th>
                    <th>Fecha de cierre</th>
                    <th>Estado</th>
                    <th>Prioridad</th>
                    <th>Categoría</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Fecha de creación</th>
                    <th>Fecha de cierre</th>
                    <th>Estado</th>
                    <th>Prioridad</th>
                    <th>Categoría</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in ViewBag.ticketList as List<BitSolutions.Models.Ticket>)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateIn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOut)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Priority)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@Scripts.Render("~/Content/FileInputJS")
