
@model BitSolutions.Models.SAS.Ticket

@Styles.Render("~/Content/FileInputCss")





<div class="container-fluid">

    @using (Html.BeginForm("SearchTicketByParameter", "SAS", FormMethod.Post))
    {
        <div class="form">
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Filters</label>
                    @Html.DropDownList("Category", TempData["categoryList"] as SelectList, htmlAttributes: new { @class = "selectize" })
                </div>

                <div class="col-md-4">
                    <label class="control-label" style="color:transparent">*****</label><br /> <!-- Usado para acomodar el botón de buscar-->
                    <button class="btn btn-info" type="submit">Search</button>
                </div>
            </div>
        </div>
    }
</div>


<div class="container-fluid half-padding">
    <div id="buttons"></div>
    <div class="panel-body">
        <div class="template__table_static template__table_responsive">
            <div class="scrollable scrollbar-macosx">
                <table id="example" class="table datatable display table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Request number</th>
                            <th>Creation date</th>
                            <th>Deadline</th>
                            <th>State</th>
                            <th>Priority</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Request number</th>
                            <th>Creation date</th>
                            <th>Deadline</th>
                            <th>State</th>
                            <th>Priority</th>
                            <th>Category</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in ViewBag.ticketList as List<BitSolutions.Models.SAS.Ticket>)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateIn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateOut)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Priority)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>







@Scripts.Render("~/Content/FileInputJS")
